// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event-listing {
  width: 33%;
  margin: 20px auto;
  border: 5px solid black;
}