// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flight-info-form form {
  display: flex;
  width: 90%;
  position: relative;
  top: 50px;
  margin: auto;
  padding-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(50, 50, 50, .6);
  border: 2px solid rgba(50, 50, 50, .9);
  border-radius: 5px;
}

h2 {
  color: white;
	-webkit-text-stroke: 1px gray;
	text-shadow: 0px 2px 4px black;
}

.flight-info-form div {
  text-align: center;
}

.flight-option-form {
  position: relative;
  width: 90%;
  margin: auto;
  top: 100px;
  
}

.flight-option-form .result {
  padding: 5px;
  width: 50%;
  margin: 2px auto;
  font-size: x-large;
  font-weight: 900;
  border: 2px solid rgba(50, 50, 50, .9);
  border-radius: 10px;
  background-color: rgba(50, 50, 50, .6);
  color: white;
	-webkit-text-stroke: 1px gray;
	text-shadow: 0px 2px 4px black;
}

.test {
  text-align: center;
}

.title {
  font-weight: 900;
  font-size: 48px;
}

.tagline {
  position: relative;
  text-align: right;
  width: 70%;
  bottom: 32px;
  font-family: cursive;
  font-style: oblique -8deg;
  color: white;
	-webkit-text-stroke: 1px gray;
	text-shadow: 0px 2px 4px black;
}